*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
}

body{
  background-color: #000E2A;
  padding-bottom: 50px;
  color: white
}

img{
  max-width: 100%;
}

.container{
  max-width: 1140px;
  margin: 0 auto;
  
}